<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by LvDunn
http://cqcqhelloworld.top
https://github.com/LvDunn/
Released for free under the Creative Commons Attribution License


-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>LvDunn's Blog</title>
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,300|-apple-system:400,300' rel='stylesheet' type='text/css' />
<link rel="icon" href={{ url_for('static',filename='css/images/Blog.png') }} type="image/x-icon" />
<link href={{ url_for('static',filename='css/style.css') }} rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="http://www.cqcqhelloworld.top/index/">LvDunn's Blog </a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href={{url_for('index') }}>Home</a></li>
					<li><a href="http://www.cqcqhelloworld.top/index/">Blog</a></li>
					<li><a href="https://github.com/LvDunn/">Github</a></li>
					<li><a href="#">About</a></li>
					<li><a href={{ url_for('contact') }}>Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content"><img src={{ url_for('static',filename='css/images/img02.jpg') }} width="1000" height="300" alt="" /></div>
		</div>
	</div>
	<!-- end #header -->
	
	<div id="page">
		<div id="content">
			<div class="post">
            
                {% block essay %}
                {% endblock %}
                
			</div>

			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<!-- 侧边栏 -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>数据结构整理</h2>
					<ul>
						<li><a href='http://www.cqcqhelloworld.top/article/1/')>1.顺序表</a></li>
		
					</ul>
				</li>
				<li>
					<h2>Python文章</h2>
					<ul>
						<li><a href=url_for('python')>Python文章传送门</a></li>
				
					</ul>
				</li>
				<li>
					<h2>其他</h2>
					<ul>
						<li><a href=url_for('other')>传送门</a></li>
						
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="https://github.com/LvDunn" rel="LvDunn">LvDunn</a>. Photo by <a href="https://unsplash.com/photos/jtVFv8mDDBU">Taryn Kaahanui on Unsplash</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
