{% extends "base.html" %}
{% block essay %}
 <h3 id="1python%E5%92%8Cjavaphpccc%E7%AD%89%E5%85%B6%E4%BB%96%E8%AF%AD%E8%A8%80%E7%9A%84%E5%AF%B9%E6%AF%94">1.Python和Java、PHP、C、C#、C++等其他语言的对比？</h3>
 <pre><code>1.python是一种解释型语言，在运行以前不需要进行编译。
    c/c++等编译型语言需通过编译器（compiler）将源代码编译成机器码，之后才能执行的语言
       &lt;br /&gt;编译只做一次，运行时不需要编译，所以编译型语言的程序执行效率高。可以脱离语言环境独立运行。
          解释性语言的程序不需要编译，每次运行的时候都要解释器先翻译成中间代码，再由解释器对中间代码进行解释运行。
	     每运行一次要解释一遍，性能上不如编译型语言
	        PHP和ruby也是解释型语言
		2.python是动态类型的语言，在声明变量的时候，不需要说明变量的类型。
		    动态类语言是指数据类型的检查是在运行时做的。用动态类型语言编程时，不用给变量指定数据类型，该语言会在你第一次赋值给变量时，在内部记录数据类型。PHP、Python
		        静态类型语言，是指数据类型的检查是在运行前（如编译阶段）做的。Java、C、C++
			3、python在设计的时候就是面向对象。
			    python当中一切皆对象,每产生一个对象会对应三个属性:id、类型type和数值
			        id可以理解为在内存当中的位置(其实不是,id实际指向的是对象的地址)
				4、开源、社区支持
 </code></pre>
 <h3 id="2python%E8%A7%A3%E9%87%8A%E5%99%A8%E7%A7%8D%E7%B1%BB%E4%BB%A5%E5%8F%8A%E7%89%B9%E7%82%B9">2.Python解释器种类以及特点</h3>
 <pre><code>CPython
 c语言开发的 使用最广的解释器
 IPython
 基于cpython之上的一个交互式计时器 交互方式增强 功能和cpython一样
 PyPy
 目标是执行效率 采用JIT技术 对python代码进行动态编译，提高执行效率
 JPython
 运行在Java上的解释器 直接把python代码编译成Java字节码执行
 IronPython
 运行在微软 .NET 平台上的解释器，把python编译成. NET 的字节码
 </code></pre>
 <h3 id="3%E4%BD%8D%E5%92%8C%E5%AD%97%E8%8A%82%E7%9A%84%E5%85%B3%E7%B3%BBbbkbmbgb-%E7%9A%84%E5%85%B3%E7%B3%BB">3.位和字节的关系？b、B、KB、MB、GB 的关系？</h3>
 <pre><code>位bit
 字节byte
 字word
 1 byte = 8 bit
 1 kb = 1024 byte
 1 MB = 1024 KB
 1 G = 1024 MB
 位(bit)&quot;是电子计算机中最小的数据单位。每一位的状态只能是0或1。
 字节：8个二进制位构成1个&quot;字节(Byte)&quot;，它是存储空间的基本计量单位。1个字节可以储存
 1个英文字母或者半个汉字，换句话说，1个汉字占据2个字节的存储空间。
 字：&quot;字&quot;由若干个字节构成，字的位数叫做字长，不同档次的机器有不同的字长。例如一台8位机，
 它的1个字就等于1个字节，字长为8位。如果是一台16位机，那么，它的1个字就由2个字节构成，
 字长为16位。字是计算机进行数据处理和运算的单位。
 </code></pre>
 <h3 id="4pep8%E8%A7%84%E8%8C%83">4.PEP8规范</h3>
 <pre><code>每一级缩进使用4个空格。
 空格是首选的缩进方式
 续行应该与其包裹元素对齐
 所有行限制的最大字符数为79。没有结构化限制的大块文本（文档字符或者注释），每行的最大字符数限制在72
 在二元运算符之前换行
 Python核心发布版本中的代码总是以UTF-8格式编码
 顶层函数和类的定义，前后用两个空行隔开。 类里的方法定义用一个空行隔开。
 与代码相矛盾的注释比没有注释还糟，当代码更改时，优先更新对应的注释！
 类名一般使用首字母大写的约定
 些暴露给用户的API接口的命名，应该遵循反映使用场景而不是实现的原则。
 函数名应该小写，如果想提高可读性可以用下划线分隔。
 </code></pre>

{% endblock %}
